* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.column p {
    height: 69px;
}

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

@media only screen and (max-width: 1015) {
    .nav-list {
        flex-direction: column;

    }

    .navbar {
        flex-direction: column;
    }
}

.heading {
    margin-top: 12px;
    position: relative;
    left: 13px;
}

hr {
    border: 5px solid grey;
    border-radius: 7px;
    margin-left: 12px;
    margin-right: 22px;
}

.first {
    background: #f7f7f7;
    border: 20px solid #f7f7f7;
    border-radius: 34px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 30px;
}

.sub-heading1 {
    position: relative;
    left: 41px;
    font-size: 32px;
}

.one {
    display: flex;
    margin-top: 30px;
}

.img img {
    position: relative;
    height: 208px;
    left: 270px;
}
.img1 img {
    position: relative;
    height: 208px;
    left: 220px;
}

.para-one {
    position: relative;
    left: 324px;
    width: 381px;
}

.para-two {
    position: relative;
    left: 247px;
    width: 381px;
}

.para-three {
    position: relative;
    left: 324px;
    width: 381px;
}

.para-four {
    position: relative;
    left: 247px;
    width: 381px;
}

.para-five {
    position: relative;
    left: 324px;
    width: 381px;
}